<ul>
  <p>フォロー一覧</p>
  <% @followed_users.each do |followed_user| %>
      <li>
        <p class="left"><%= profile_img(followed_user) if profile_img(followed_user) %></p>
        <p class="left">名前<%= followed_user.name %></p>
        <p class="left">メールアドレス<%= followed_user.email %></p>
      </li>
  <% end %>
  <p>フォロワー一覧</p>
  <% @followers.each do |follower| %>
      <li>
        <p class="left"><%= profile_img(follower) if profile_img(follower) %></p>
        <p class="left">名前<%= follower.name %></p>
        <p class="left">メールアドレス<%= follower.email %></p>
      </li>
  <% end %>
</ul>
